/* general */

body, textarea {
margin: 0;
padding: 0;
font-family: "Calibri", "sans-serif";
}

p h1 h2 h3 {
	color: #232A31;
}

.barranav-container{
	width: 100%;
	height: 90px;
	background-color: #232A31;
	padding: 0 2em;
	position: relative;
	box-sizing: border-box;
}


nav{
position: relative;

}
	
.logo{
	width: 70px;
	height: 70px;
	margin-top: 10px;
	border-radius: 60%;
}


.menu{
	list-style: none;
	position: absolute;
	display: inline-block;
	height: 45px;
	left: 70%;
	width: 30%;
    padding: 10px ;
	text-align: center;

	background-color: #232A31;
}

 .menu li{
	display: inline-block;
	text-transform: uppercase;
	margin-left:5px;
	margin-right: 5px;
	margin-top: 3px;

	}

.menu li a{
	display: inline-block;
	text-decoration: none;
	transition: 0.70s;
	color: aliceblue;
	padding: 10px;
	margin-left:5px;
	margin-right: 5px;

}
	

.menu li a:hover{
		color: #7b59c9;
		display: inline-block;
		margin-left:5px;
		margin-right: 5px;
}
.menu .default-btn:hover{
	color: #dfdce6;
}


.default-btn{
	color: #dfdce6;
	}
	
.default-btn:hover{
background-color: #7b59c9;
color: #dfdce6;
}

.main-banner{
background-image: url("img/MINIBANNER.png") ;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 10em;
width: 80%;
height: calc(500px - 96px);
}

.main-banner h1,p{
text-align: center;
color: #dfdce6;
}

.main-banner h1{
	font-size: 94px;
	font-family: "Calibri light";
	font-weight: bold;
}

	.main-banner h1,p{
		font-size: 52px;
		font-family: "Calibri";
		font-weight: bold;
		padding: 1em 0;	
		}
	
		img .seguranca, .velocidade, .suporte{
			width: 85px;
			height:85px;
			border-radius: 60%;
			margin-top: 5px;
      }

		.especialidades-container {
			padding: 5em 0;
			}

		.especialidades-container h3{
		    font-family: "Calibri light";
			font-weight: bold;
			color: #dfdce6;
			font-size: 39px;
			color: #7B59C9;
	}
		.especialidades-container p{
			font-size: 18px;
			font-family: "Calibri light";
			font-weight: bold;
			padding: 20px;
			color: #232A31;
						}
		
        .especialidades-container ul{
        display: flex;
		width:100%;
		position: absolute;
        padding-left: 0;
		margin-bottom: -5px;
		text-align: center;
		}
			.especialidades-container ul li{
			flex: 1 1 200px;
			text-align: center;
			padding: 0px;
			list-style: none;
            margin-top: -90px;
			margin-left: auto;
			margin-right: auto;}

.especialidades-container p{
line-height: 2;
text-align: center;}

li .seguranca {
	margin-top: 10px;
}

.precos-container {
	margin-top:20%;
		}

.precos-container h2 {
color: #232A31;
font-size: 36px;

}


	.precos-container p {
		font-family: "Calibri light";
		font-weight: bold;
		color: #dfdce6;
		font-size: 49px;
		color: #7B59C9;
		text-align: center;
		}

		.planos-container{
			text-align: center;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			position: relative;
		}
		
		.plan{
		display: flex;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		justify-content: space-between;
		}

.plan ul {
	padding: 0;
	padding:  20px 20px;
	margin-top: -40px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
}

.plan li{
	list-style: none;
	height: 60px;
	line-height: 50px;
	background-color: #232A31;
	flex: 1 1 200px;
	width: 275px;
	max-width:38vw;
	padding-top: -20px;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	}

	.plan .preco{
width: 120px;
height: 120px;
border-radius: 50%;
text-align: center;
background-color: #7B59C9;
line-height: 120px;
color: #e4ebf1;
font-size: 20px;
margin-left: auto;
margin-right: auto;
margin-bottom: -40px;
position: relative;

}

.plan .preco-nome{
	text-transform: uppercase;
	width: 275px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	line-height: 100px;
color: #e4ebf1;
background-color: #09a792;
font-size: 20px;
padding-top: 10px;
}


	.procura-dominio{
		margin-top: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		background-color: #232A31;
		text-align: center;

	}

